@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Custom Colors */
@layer base {
  :root {
  }
}

/* Customize Shadcn UI */
@layer base {
  :root {
    --background: #e9e7f5;
    --background: 249 41% 93%;
    --foreground: #2f2f7a;
    --foreground: 240 44% 33%;

    --card: 0 0% 100%;
    --card-foreground: #2f2f7a;
    --card-foreground: 240 44% 33%;

    --popover: 0 0% 100%;
    --popover-foreground: #2f2f7a;
    --popover-foreground: 240 44% 33%;

    --primary: #2f2f7a;
    --primary: 240 44% 33%;
    --primary-foreground: #ffffff;
    --primary-foreground: 0 0% 100%;

    --secondary: #e9e7f5;
    --secondary: 249 41% 93%;
    --secondary-foreground: #2f2f7a;
    --secondary-foreground: 240 44% 33%;

    --muted: #e9e7f5;
    --muted: 249 41% 93%;
    --muted-foreground: #8888b5;
    --muted-foreground: 240 23% 62%;

    --accent: #e9e7f5;
    --accent: 249 41% 93%;
    --accent-foreground: #2f2f7a;
    --accent-foreground: 240 44% 33%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: #ffffff;
    --destructive-foreground: 0 0% 100%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: #2f2f7a;
    --ring: 240 44% 33%;

    --radius: 0.625rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

/* https://www.joshwcomeau.com/css/custom-css-reset/ */
@layer base {
  html,
  body {
    @apply h-full;
  }

  body {
    @apply isolate;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  li,
  dl,
  dt,
  blockquote,
  pre {
    @apply break-words;
  }

  pre {
    @apply whitespace-normal;
  }
}

/* Radix UI specific */
@layer base {
  /* https://stackoverflow.com/a/61781795 */
  body:not(#\9) {
    /* Avoid Content Layout Shift for elements that use the full width of the page */
    @apply !overflow-y-scroll;
    /* Radix UI adds a margin to the right to compensate for the scrollbar
      existing then hides it. But it does not acount for the scrollbar being in
      the html tag because of the above configuration. */
    /* https://stackoverflow.com/a/75149775 */
    @apply !mr-0;
  }
}

@layer base {
  body {
    @apply text-[15px] font-bold;
  }
}
